* {

    margin: 0;
    padding: 0;
    background-color:#34b7eb;

}

h1 {

    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 2.0rem;
    color: white;
    text-align: center;
    margin-top: 20px;

}
.moldura{

    width: 500px;
    height: 537px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    outline-width:5px;
    outline-style: solid;
    outline-color: white;

}

.pixel{

    width: 50px;
    height: 50px;
    background-color: white;
    display: inline-flex;
    outline-width: 5px;
    outline-color: white;
    outline-style: solid;

}