.fotocomsombra{
	
		align: center;
		width: 80%;
		height: 250px;
		border-radius: 10px;
		box-shadow: 5px 5px 20px black;
				
}
			
.fotocomsombra:hover{
				
	align: center;
	width: 80%;
	height: 250px;
	border-radius: 10px;
	box-shadow: none ;
	
}
			
.botaoaula{
			
	background-color: deepskyblue;
	color: white;
	display: inline-block;
	line-height: 30px;
	padding 0px 30px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 600;
	box-shadow: 2px 2px 5px black;
	
}
			
.botaoaula:hover{
				
	background-color: deepskyblue;
	color: white;
	display: inline-block;
	line-height: 30px;
	padding 0px 30px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 600;
	box-shadow: none;
				
}
			
.negrito{
			
	font-weight: 700;
				
}
			
.fontred{
			
	color: red;
				
}
			
#titulo{
			
	color: blue;
				
}
			
body {
			
	font-family: "Helvetica", "Arial", sans-serif; 
}
			
* {
			
	text-align:	center;
			
}
			
p:hover{
			
	font-weight: 700;
				
}
			
.fundoazul{
			
	background-color:#95cbe6;
	border-radius: 10px;
	width: 65%;
	margin: auto;
			
}
			
			
